body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}



/*Top Buttons and Tooltips*/
.tooltip {
    position: absolute;
    display: none;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 7px;
    border: solid red 1px;
    z-index: 15;
}
.buttonsTitle {
    position: relative;
    display: inline-block;
    padding: 5px;
}
.buttonsName{
    display: none;
}
.buttonsTooltip{
    display: none;
}


/* Background */
#content{
    max-width: 900px;
    width:100%;
    z-index:2;
    top:0;
    left:0;
    right:0;
    position: fixed;
    margin:auto;
    height:100%;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}

#backgroundIMG{
    z-index:1;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position:fixed;

    /* set background image url below*/
    background-image: url("https://pp.vk.me/c618227/v618227345/3afb/eVpEAZu5zN4.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 100%;
}

.viewpoint{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    z-index: 3;
    -webkit-transition: 0.4s; /*this shall make the scroll smooth*/
    -moz-transition: 0.4s; /*this shall make the scroll smooth*/
    -ms-transition: 0.4s; /*this shall make the scroll smooth*/
    -o-transition: 0.4s; /*this shall make the scroll smooth*/
    transition: 0.4s; /*this shall make the scroll smooth*/
}

/*Tales List*/
.bottomMenu {
    height: 0;
    width: 0;
}

.mainPicFrame {
    bottom: 10%;
    position: absolute;
    z-index: 5;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    height: 365px;
    overflow-y: hidden;
}

.picFrame{
    position: relative;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    margin: auto;
    padding-top: 45px;
    height: 100%;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@font-face {
    font-family: my_Segoe;
    src: url(Tales_res/segoeprb.ttf);
}
.picText{
    color: white;
    font-family: my_Segoe;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    position: absolute;
    height: 65px;
    cursor: default;
    top: -15px;
    white-space: nowrap;
    z-index: 5;
}
.picText a {
    color: white;
}

.talesMenuBackground{
    z-index: 4;
    position:absolute;
    top: 0;

    /* set background image url below*/
    background-image: url("http://www.mrwallpaper.com/wallpapers/subzero-mortal-kombat-painting.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 100%;
}

.pic{
    margin: 5px;
}